.navigation {
    padding-bottom: 15px;
    border-bottom: 1px solid #967164;
    font-weight: bold;
    line-height: 1.5;
}

.navigation__list {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0;
}

.navigation__link {
    text-decoration: none;
    color: #967164;
}

.navigation__link:hover {
    color: hsl(16, 20%, 35%);
}

.navigation__link:active {
    color: hsl(16, 20%, 45%);
}